#pfstatusofsystemwidget .hndle,#pfstatusofsystemwidget2 .hndle{background-color:#20303A; color:#B3B3B3}
#pfstatusofsystemwidget.postbox .inside,#pfstatusofsystemwidget2.postbox .inside{padding:0; margin:0}
.pfawidget{ margin:0 auto;  width:100%;  position:relative}
.pfawidget-body{ font-family: 'Roboto', sans-serif;  -webkit-font-smoothing:antialiased;  background:#fff;  padding:0}
.pfaflash{ font-family: 'Roboto', sans-serif;  -webkit-font-smoothing:antialiased;  background:#8EC34B;  color:white;  padding:15px 20px;  font-size:14px}
.pfawidget .accordion-header{ font-family: 'Roboto', sans-serif;  -webkit-font-smoothing:antialiased;  text-transform:uppercase;  font-size:11px;  font-weight:bold;  padding:12px 20px;  background:#f7f7f7;  border-bottom:1px solid #ECF2F6}
.pfawidget .accordion-header h2{font-size:14px; margin:0; padding:0; font-weight:bold; color:#494949;text-align:left;}
.pfawidget .accordion-mainit{ font-family: 'Roboto', sans-serif;  color:#797979;  -webkit-font-smoothing:antialiased;  margin:0 60px 0 20px;  padding:20px 0;  border-bottom:1px dotted #D0DAE0;  font-size:14px;  position:relative}
.pfawidget .accordion-mainit:last-child{ border-bottom:none}
.pfawidget .accordion-status-text{ font-family: 'Roboto', sans-serif;  -webkit-font-smoothing:antialiased;  color:#BA3C3C;  font-size:22px;  position:absolute;  top:16px;  right:-42px}
.updatenotpf1 a {padding: 15px 20px;display: block;background: #D3E777;}
.pf-st-ok{color:#8EC34B!important}
.ocdi__gl-item-footer--with-preview h4.ocdi__gl-item-title{width: calc(100% - 200px)!important;}

.pforders-orderdetails-ul{margin:0; padding:0;}
.pforders-orderdetails-ul li{font-family: 'Roboto', sans-serif;font-weight:700;font-size:12px;}
.pforders-orderdetails-ul .uppcase{text-transform:uppercase;}
.pforders-orderdetails-ul li .pforders-orderdetails-lbltext, .postbox .inside{font-family: 'Roboto', sans-serif;font-weight:400;font-size:12px; display:block;}
 .pforders-orderdetails-ul li .pforders-orderdetails-lbltext a, .postbox .inside a{text-decoration:none;}
#pointfinder_orders_info h3, #pointfinder_orders_details h3, #pointfinder_orders_trans h3, .postbox h3{font-family: 'Roboto', sans-serif;font-weight:500;font-size:14px;}
.pforders-orderdetails-lblcompleted{color:#2db82d;font-weight:600;}
.pforders-orderdetails-lblpending{color:#e4bb42;font-weight:600;}
.pforders-orderdetails-lblcancel{color:#cd3b3b;font-weight:600;}
/*Define Accordion box*/
.accordion { width:100%; overflow:hidden; margin:10px auto; color:#474747;}

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.accordion section:target{background:#fafafa; padding:10px; border:1px solid #ebebeb}
.accordion section:target:hover{background:#FFF}
.accordion section:target h2{width:100%}
.accordion section:target h2 a{color:#333; padding:0}
.accordion section:target p{display:block; border-top:1px solid #ccc; margin:0; padding:10px 5px}
.accordion section h2 a{padding:0 10px; display:block; font-family: 'Roboto', sans-serif; font-size:13px; font-weight:400; color:#eee; text-decoration:none}

.accordion section{float:left; overflow:hidden; color:#333; cursor:pointer; background:#333; margin:3px}
.accordion section:hover{background:#444}
.accordion section p{display:none; font-family: 'Roboto', sans-serif;}
.vertical section{width:100%; height:40px; -webkit-transition:height 0.2s ease-out; -moz-transition:height 0.2s ease-out;  -o-transition:height 0.2s ease-out; -ms-transition:height 0.2s ease-out;  transition:height 0.2s ease-out}
.vertical:target{min-height:250px; height:100%!important; width:97%}
#poststuff .vertical section h2{position:relative; left:0; top:-15px; margin-top:20px; font-size:1.5em; margin-bottom:0; padding:0 0 3px}
.pf-bank-approval{ background-color:#B10E0E;  color:#fff;  padding:10px;  display:block;  width:92%;  text-align:center;  margin:5px 0 0 0;  font-size:14px}
.pf-bank-approval:hover{color:#efefef;}
#pointfinder_invoices_process .pforders-orderdetails-lbltext{display:inline-block;}
.post-type-pointfinderreviews .row-actions span.view a {background: #64BF42;}
.post-type-pointfinderreviews .row-actions span.trash a {background: #BF4242;}
.post-type-pointfinderreviews .row-actions span.edit a {background: #BF7942;}
.post-type-pointfinderreviews .row-actions span.edit a, 
.post-type-pointfinderreviews .row-actions span.trash a,
.post-type-pointfinderreviews .row-actions span.view a{color: #FFFFFF!important;padding: 2px 8px;border-radius: 4px;}
.post-type-pointfinderreviews .row-actions span.edit a:hover,
.post-type-pointfinderreviews .row-actions span.trash a:hover,
.post-type-pointfinderreviews .row-actions span.view a:hover {opacity: 0.7;}
.redux-main .wp-picker-container .wp-color-result-text {
    line-height: 26px!important;
}
/* dash custom */
#pfstatusofsystemwidget .hndle,#pfstatusofsystemwidget2 .hndle{background-color:#20303A; color:#B3B3B3}
#pfstatusofsystemwidget.postbox .inside,#pfstatusofsystemwidget2.postbox .inside{padding:0; margin:0}
.pfawidget{ margin:0 auto;  width:100%;  position:relative}
.pfawidget-body{ font-family: 'Roboto', sans-serif;  -webkit-font-smoothing:antialiased;  background:#fff;  padding:0}
.pfaflash{ font-family: 'Roboto', sans-serif;  -webkit-font-smoothing:antialiased;  background:#8EC34B;  color:white;  padding:15px 20px;  font-size:14px}
.pfawidget .accordion-header{ font-family: 'Roboto', sans-serif;  -webkit-font-smoothing:antialiased;  text-transform:uppercase;  font-size:11px;  font-weight:bold;  padding:12px 20px;  background:#f7f7f7;  border-bottom:1px solid #ECF2F6}
.pfawidget .accordion-header h2{font-size:14px; margin:0; padding:0; font-weight:bold; color:#494949}
.pfawidget .accordion-mainit{ font-family: 'Roboto', sans-serif;  color:#1f1f1f;  -webkit-font-smoothing:antialiased;  margin:0 60px 0 20px;  padding:20px 0;  border-bottom:1px dotted #D0DAE0;  font-size:14px;  position:relative}
.pfawidget .accordion-mainit:last-child{ border-bottom:none}
.pfawidget .accordion-status-text{ font-family: 'Roboto', sans-serif;  -webkit-font-smoothing:antialiased;  color:#BA3C3C;  font-size:22px;  position:absolute;  top:16px;  right:-42px}
.updatenotpf1 a {padding: 15px 20px;display: block;background: #D3E777;}
.pf-st-ok{color:#8EC34B!important}
/* dash custom */
.pointfinder.about-wrap .notice, .pointfinder.about-wrap div.error, .pointfinder.about-wrap div.updated{
    display:block!important;
}
.redux-container-button_set .buttonset .ui-button:first-of-type {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.redux-container-button_set .ui-button:last-of-type {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.pointfinder-main-window li {
        font-size: 14px;
    line-height: 1.6em;
}
.pointfinder-main-window a{text-decoration: none;}
.redux-container .redux-group-tab{overflow: hidden;}
.pointfinder-product-code{
    display: block;
    height: 40px;
    width: 500px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}
.pointfinder-product-code-field{
    display: block;
    height: 40px;
    min-width: 100px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}
@media screen and (max-width: 782px){
    .pointfinder-product-code{width: 100%;}
}

.redux-container-extension_custom_link_color .linkColor strong {
    display: table;
    margin-bottom: 5px;
    margin-left: 3px;
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.about-wrap.pointfinder .about-text{
        margin: 1em 1em 1em 0;font-family: 'Roboto', sans-serif;    font-size: 16px;
}
.about-wrap.pointfinder{display:block!important;max-width: 100%;}

.about-wrap.pointfinder h3{font-size: 16px;}

.pointfinder-register, .auth-check-section,.pointfinder-api-check {
    display: inline-block;
}

.button-secondary-pf.pointfinder-api-check{
    width: auto;
    line-height: 42px!important;
    font-size: 13px;
    margin-top: 10px;
    background-color: #f1f1f1;
    color:#333333;
    margin-left:10px!important;
}
.button-secondary-pf.pointfinder-api-check:hover{
    background-color: #ffffff;
}

.pointfinder-register, .auth-check-section{
    width: 120px;
    line-height: 42px!important;
    font-size: 13px!important;
    margin-top: 10px!important;
}
.pf-box-reg {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    padding: 25px!important;
}

.auth-check-section {
    font-size: 11px!important;
    width: auto!important;
    border-radius: 4px;
    text-align: left;
    line-height: 28px!important;
    display:none;
}

.auth-status {
    background-color: #AAB2BD;
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 100px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.auth-status.checkedsuccess{
    background-color: #2ECC71;
}
.auth-status.checkedfail{
    background-color: #BF263C;
}
.auth-status.notchecked {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.pointfinder-main-window .pointfinder-main-window-content{
    padding: 30px 0;font-size:17px;line-height:27px;font-family: 'Roboto', sans-serif;
}
.pointfinder-main-window .pointfinder-main-window-content.unregistered{
    padding: 30px 0;
}
.pointfinder-main-window .pointfinder-main-window-content .about-description{margin:0 0 15px 0;    font-size: 16px;}
.point-finder_page_pointfinder_registration .pointfinder-main-window .pointfinder-main-window-content{
    margin-top: 30px;
}
.point-finder_page_pointfinder_sysstatus #wpfooter,.toplevel_page_pointfinder_tools #wpfooter{display: none;}
.pfawidget .accordion-mainit{
    margin: 0 20px 0 20px;
}
.pfawidget .accordion-status-text{
    right:0; font-size:16px;
}
.pfawidget.regwidget .about-description{
    margin:0;
    padding:0;
    color:#1da02f;
    font-size:18px;
    margin-left: 10px;
}
.pfawidget.regwidget .accordion-body{
    padding: 20px 10px;
}
.about-wrap.pointfinder h1 {
    font-size: 30px;
}
.pointfinderderegisterrequest input,.pointfinderderegisterrequest textarea {
    width: 100%;font-family: 'Roboto', sans-serif;
}

.pointfinderderegisterrequest label {
    margin-bottom: 6px!important;
    display: block;
    margin-top: 17px!important;
    font-weight: 600;
}
@media screen and (max-width: 782px){
    .pointfinder-product-code{width: 100%;}
    .pfawidget.regwidget .accordion-status-text {
        right: 0;
        font-size: 12px!important;
    }
}
.process-pf {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 11px;
    display:none;
}
.point-finder_page_pointfinder_registration #TB_ajaxContent{ overflow: hidden; }
.ui-icon-blank {
    display: none!important;
}
.pffixcol{padding-top:15px;}
